body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgb(249, 247, 247);
    background: radial-gradient(circle, rgba(249, 247, 247, 1) 0%, rgba(95, 95, 95, 1) 100%);

}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3b;
    padding: 10px 30px;
    color: #fff;
}

.menu-options {
    display: flex;
    align-items: center;
}

.menu-option {
    margin-right: 20px;
}

.menu-option a {
    color: #f9f6f6;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #6d6e6e;
}

.menu-option a:hover {
    background-color: #0edadd;
}

.menu-logout a {
    color: #f5f3f3;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fa0404;
}

.menu-logout a:hover {
    background-color: #0edadd;
}


.login-container {
    background-color: #6d6e6e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    justify-content: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #6d6e6e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 20px;
    border: 1px solid #050505;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form label,
.login-form input,
.login-form button {
    display: block;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.login-form label {
    display: block;
    margin-top: 10px;
}

.login-form input {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #090909;
    ;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #4fc2c6;

}