
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgb(249,247,247);
background: radial-gradient(circle, rgba(249,247,247,1) 0%, rgba(95,95,95,1) 100%);
  }



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #616060;
    padding: 10px 30px;
    color: #fff;
}

.menu-options {
    display: flex;
    align-items: center;
}

.menu-option {
    margin-right: 20px;
}

.menu-option a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #8c8d8d;
}

.menu-option a:hover {
    background-color: #4fc2c6;
}

.menu-logout a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fa011a;
}

.menu-logout a:hover {
    background-color: #4fc2c6;
}

#name {
    text-align: right;
    padding-right: 30px;
    font-size: 18px;
    color: #f3f0f0;
    margin-top: 10px;
}

.login-form {
    font-family: Arial, sans-serif;
    background-color: #616060;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #616060;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: inline-block;
}

.login-form-flex {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.item {
    background-color: #616060;
}

#persona,
#cantidad {
    width: 90%;
}

h1 {
    text-align: center;
}

.login-form {
    width: 100%;
    margin: 10px;
}


.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: #8c8d8d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #4fc2c6;
}


.btn-add {
    width: 97%;
}

#observaciones {
    width: 95%;
}







.events-table {
    margin: 30px 3px 0px 0px;
    border-collapse: collapse;
    width: 97%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.events-table th,
.events-table td {
    padding: 12px 15px;
    text-align: left;
}

.events-table th {
    background-color: #1ece36;
    color: #fff;
}

.events-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.events-table tr:hover {
    background-color: #e0e0e0;
}

.event-actions {
    display: flex;
}

.event-actions button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-actions button:hover {
    background-color: #555;
    color: #fff;
}


.btn-delete {
    background-color: #d31e1e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #ff3333;
}

/* Estilo del botón Editar */
.btn-edit {
    background-color: #3360b4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-edit:hover {
    background-color: #3d7ee5;
}

#btn-edit {
    text-decoration: none;
}