.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 30px;
    color: #fff;
}

.menu-options {
    display: flex;
    align-items: center;
}

.menu-option {
    margin-right: 20px;
}

.menu-option a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0056b3;
}

.menu-option a:hover {
    background-color: #00509b;
}

.menu-logout a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #dc3545;
}

.menu-logout a:hover {
    background-color: #c82333;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
}

.login-form label {
    display: block;
    margin-top: 10px;
}

.login-form input {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}